@import '../styles/colors';

.tooltip-wrapper {
    width: 250px;
    position: relative;
    background: #ffffff; 
    box-shadow: 0px 0px 10px rgba(114, 126, 151, 0.5);
    border-radius: 9px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;

    .subtitle {
        font-size: 14px;
        line-height: 26px;
        letter-spacing: 0.1em;
        color: #50545F;
        position: relative;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px 0;

        &:before {
            content: "";
            background: #2CCFD0;
            position: absolute;
            height: 2px;
            width: 50px;
            top: -12px;
        }
    }

    .tooltip-text {
        font-size: 12px;
        color: #727E97;
    }

    .shape {
        position: absolute;

        &.tooltip-top-shape {
            top: -120px;
        }

        &.tooltip-bottom-shape {
            bottom: -185px;
        }
    }

    // @media (max-width: 768px) {
    //     overflow: visible;

    //     .shape {
    //         display: none;
    //     }
    // }
}

/*
    default style overwrite
*/
.__react_component_tooltip {
    background-color: transparent !important;

    &.show {
        opacity: 1 !important;
    }

    &:before, &:after {
        content: none;
    }
}