@import '../styles/colors';

.chapters-outer-wrapper {
    background-color: rgb(196, 196, 196);
    overflow: hidden;
}

.chapters-overlay {
    max-width: 800px;
    width: 100%;
    float: right;
    padding: 200px 0 0 100px;
    height: 100vh;
    background-color: #ffffff;

    .label {
        @media (max-width: 768px) {
            margin-left: 25px;
        }
        
        @media (max-width: 580px) {
            margin-left: 35px;
        }
    }

    .chapters-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        .title {
            font-size: 55px;
            font-weight: 800;
            line-height: 32px;
            color: inherit;
            margin-right: 50px;
            text-align: right;
        }

        .subtitle {
            font-size: 25px;
            font-weight: 800;
            line-height: 32px;
            color: inherit;
        }

        .read {
            font-size: 25px;
            font-weight: 800;
            line-height: 32px;
            color: inherit;
            text-transform: uppercase;
            color: #2CCFD0;
            position: absolute;
            right: -400px;
            bottom: 30px;
            transition: 0.55s;

            @media (max-width: 768px) {
                display: none;
            }
        }

        .chapter {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: baseline;
            padding: 30px 0;
            width: 100%;
            color: #50545F;
            cursor: pointer;
            position: relative;
            overflow: hidden;
            opacity: 0.4;
            transition: opacity 0.75s ease-in-out;

            &:hover, &:focus, &:active {
                opacity: 1; 
                transition: opacity 0.75s ease-in-out;

                & > .read {
                    transition: 0.55s;
                    right: 100px;
                }
            }

            & > .title {
                width: 80px;
            }

            & > .subtitle {
                position: relative;
                text-align: left;
                word-wrap: break-word;

                &:after {
                    content: "";
                    background: #2CCFD0;
                    position: absolute;
                    left: 0;
                    height: 2px;
                    width: 50px;
                    bottom: -20px;
                }
            }

            &.intro {
                display: none;
        
                @media (max-width: 768px) {
                    display: flex;
                }
            }

            @media (max-width: 768px) {
                align-items: normal;

                .title {
                    font-size: 40px;
                    margin-right: 30px;
                }
            
                .subtitle {
                    font-size: 22px;
                    line-height: 20px;
                }
            }
            
            @media (max-width: 580px) {
                .title {
                    font-size: 30px;
                }
            
                .subtitle {
                    font-size: 16px;
                }
            }
        }

        .subtopics {
            max-height: 0;
            transition: max-height 0.75s ease-out;
            overflow: hidden;

            &.enabled {
                margin: 15px 0 25px;
                max-height: 500px;
                transition: max-height 0.75s ease-in;
            }

            .subtopic {
                margin-top: 10px; 
                color: #50545F;
                cursor: pointer;
                position: relative;
                width: 775px;
                opacity: 0.4;
                transition: opacity 0.75s ease-in-out;

                & > .read {
                    font-size: 16px;
                    bottom: 0;
                }
    
                &:hover, &:focus, &:active {
                    opacity: 1; 
                    transition: opacity 0.75s ease-in-out;

                    & > .read {
                        transition: 0.55s;
                        right: 100px;
                    }
                }

                .title {
                    font-size: 25px;
                    padding-left: 37px;
                    margin-right: 55px;
                }
    
                .subtitle {
                    font-size: 16px;
                }
            }

            .subtitle {
                font-size: 16px;
                line-height: 32px;
            }
        }
    }

    .close-nav {
        width: 30px;
        height: 30px;
        position: fixed;
        top: 100px;
        right: 120px;
        z-index: 10000;
        background: url('/static/quit.svg') center no-repeat;
        cursor: pointer;
        opacity: 0.4;
        
        &:hover, &:focus, &:active {
            opacity: 1; 
        }
    }

    .submodules-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .chapter {
            width: 800px;
        }
    }

}
