@import '../styles/colors';
@import '../styles/fade-in';
@import '../styles/slide-right';
@import '../styles/slide-up';

.content-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 100px 20px 20px;
    max-width: 550px;
    margin: auto;

    .subtitle {
        margin: 10px 0;
        font-size: 14px;
        letter-spacing: 0.25em;
        color: #727E97;
    }
}

.content {
    animation: fade-in 1s;
    position: relative;
    z-index: 2;
    
    ._markdown_ {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    p, ul, li, h2, h3 {
        animation: slide-up 0.4s, fade-in 0.6s;
    }

    img, hr {
        animation: fade-in 1.2s 0.2s ease-in-out;
        animation-fill-mode: backwards;
    }

    p, ul, li {
        font-size: 16px;
        font-weight: 400;
        line-height: 25px;
        color: $text-main;
        letter-spacing: 0.05em;
        padding: 10px 0;
        max-width: 550px;
        width: 100%;
        -webkit-font-smoothing: antialiased;
        
        a {
            color: $q-purple-light;
        }

        a:hover {
            border-bottom: 1px solid $q-purple-light;
        }
    }

    ul {
        padding-left: 30px; 
    }

    li {
        padding: 10px 0;
    }

    img {
        max-width: 550px;
        width: 100%;
    }

    hr {
        border: none;
        height: 1px;
        background: linear-gradient(45deg, $q-teal -60%, $q-purple);
        margin: 60px 0;
    }

    h1 {
        font-size: 3em;
        margin-left: -30px;
        margin-bottom: 20px;
        letter-spacing: 2px;
        font-weight: 700;
        display: inline-block;
        -webkit-text-fill-color: transparent;
        background: linear-gradient(90deg, $q-teal -5.83%, $q-purple 106.9%);
        -webkit-background-clip: text;
        background-clip: text;
        animation: slide-right 0.6s, fade-in 1.2s;
    }

    h2 {
        letter-spacing: 1.4px;
        text-transform: uppercase;
        font-size: 1.6em;
        font-weight: 600;
        -webkit-font-smoothing: antialiased;
    }

    h3 {
        font-size: 1.4em;
        font-weight: 600;
        -webkit-font-smoothing: antialiased;
    }

    @media only screen
        and (min-width: 320px)
        and (max-width: 812px) {

        h1 {
            font-size: 28px;
            margin-left: -15px;
            margin-top: 20px;
            width: 236px;
        }

        h2 {
            font-size: 16px;
        }

        h3 {
            font-size: 16px;
        }

        p, ul, li {
            font-size: 18px;
        }

        hr {
            margin: 20px 0 30px 0;
        }
    }

    @media only screen and (min-width: 376px) {
        h1 {
            width: 100% !important;
        }
    }
}
