.content-main {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 50px;
    background: linear-gradient(to bottom, rgba(255,255,255,0.97) 50%,rgba(255,255,255,1) 100%), url('/static/pattern.png');

    .text {
        max-width: 600px;
        margin-bottom: 50px;

        &.subtitle {
            margin-bottom: 20px;
        }
    }

    .intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 500px;
        position: relative;
        margin-bottom: 80px;

        .intro-blur-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 500px;
            position: relative;

            -webkit-filter: blur(0px); 
            -moz-filter: blur(0px); 
            -o-filter: blur(0px); 
            -ms-filter: blur(0px);
            filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='0'); 
            filter: blur(0px);
            -webkit-transition: 0.7s -webkit-filter linear;
        }

        &:hover {
            .intro-blur-wrapper {
                -webkit-filter: blur(5px); 
                -moz-filter: blur(5px);
                -o-filter: blur(5px); 
                -ms-filter: blur(5px); 
                filter: url(#blur); 
                filter: blur(5px);  
                filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='1');
                -webkit-transition: 0.7s -webkit-filter linear;
            }

            .play-button-wrapper {
                z-index: 7;
            }
        }

        .intro-shape-outer {
            position: absolute;
            z-index: 0;
            filter: drop-shadow(0px 5px 42px rgba(108, 228, 222, 1));
        }

        .intro-shape-inner {
            position: absolute;
            z-index: 1;
        }

        .title {
            margin-bottom: 0;
            max-width: unset;
            font-size: 105px;
            line-height: 124px;
            letter-spacing: 0.15em;
            color: #50545F;
            z-index: 5;
            margin-top: 45px;

            @media (max-width: 768px) {
                font-size: 50px;
            }
        }

        .subtitle {
            font-size: 14px;
            font-weight: 800;
            line-height: 24px;
            text-align: center;
            letter-spacing: 0.15em;
            text-transform: uppercase;
            color: #596071;
            z-index: 5;
        }
    }

    .intro-buttons-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        max-width: 900px;
        height: 150px;
        width: 100%;
        margin-bottom: 100px;

        & > .large:first-child {
            width: 265px;
        }
    }
}

.benefits-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 180px 70px;
    background: rgba(232, 242, 248, 0.5);

    @media (max-width: 1400px) {
        padding: 0 30px 70px;
    }

    @media (max-width: 1000px) {
        padding: 0 50px 70px;
    }

    .key-topic-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    
        .key-topic {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            max-width: 400px;
            padding: 30px 50px;
        
            & > * {
                margin: 10px 0;
            }

            img {
                width: 55px;
            }
        }
    }
}

.benefits-heading-wrapper,
.modules-heading-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 160px 0 100px;

    .benefits-shape,
    .modules-shape {
        position: absolute;
        top: -80px;
    }

    .text {
        z-index: 1;
    }
}

.benefits-heading-wrapper {
    margin-bottom: 50px;
}

.modules-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .module {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 450px;
        width: 100%;
        padding: 30px;
        margin: 0;

        &:hover {
            background: rgba(176, 241, 238, 0.3);
            border-radius: 50px;
        }
    
        & > * {
            margin: 7px 0;

            &:last-child {
                margin-top: 15px;
            }
        }

        img {
            width: 73px;
        }

        .subtitle {
            letter-spacing: 0.25em;
            font-size: 14px;
            margin-top: 0;
        }
    }
}

.papers-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    max-width: 900px;
    height: 150px;
    width: 100%;
    margin: 50px 0;

    .separator {
        border-right: 1px solid rgba(89, 96, 113, 0.2);
        height: 170px;
    }

    .paper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 250px;

        & > * {
            margin: 5px 0;
        }

        button {
            margin-top: 15px;
        }
    }
}

.intro-page {
    .left-shape {
        position: absolute;
        left: -750px;
        top: 230%;
    
        @media (max-width: 768px) {
            display: none;
        }
    }
    
    .right-shape {
        position: absolute;
        right: -750px;
        top: 270%;
    
        @media (max-width: 768px) {
            display: none;
        }
    }
}

